<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
    <title>User profile - RoboEarth</title>
  </head>
  <body>

    <div id="contentArea">

    <div id="logo">
      <a href="/">
        <img src="/img/RoboEarth.org_logo.png" alt="RoboEarth Logo" \>
      </a>
    </div>

    <div id="menu">
      {{ MainMenu|safe }}
    </div>
    
    <div id="content">

      <h1>User Profile</h1>

      <h2>General Data</h2>
      <p>
        Username: <b>{{username}}</b><br/>
        <table border="0" cellspacing="0">
        <tr><td>E-Mail:</td>
	  <form action="/accounts/update" method="post" class="commitForm">{% csrf_token %}
            <td><input name="email_new" type="text" value="{{email}}" size="30">
              <input name="email_old" type="hidden" value="{{email}}"></td>
              <input name="type" type="hidden" value="email"></td>
            <td><input type="submit" value="Update" /></td>
          </form>
        </tr></table>
        Personal API Key: <b>{{api_key}}</b>
      </p>
<!--      
      <h2>Publish/Subscriber Settings</h2>
      <table border="0" cellspacing="0">
        <tr><td>XMPP:</td>
	  <form action="/accounts/update/" method="post" class="commitForm">{% csrf_token %}
            <td><input name="xmpp_new" type="text" value="{{xmpp}}" size="30">
              <input name="xmpp_old" type="hidden" value="{{xmpp}}" size="30"></td>
            <td><input type="submit" value="Update" /></td>
          </form>
        </tr></table>
-->

      <h2>Change Password</h2>
      	<form action="/accounts/update" method="post" class="commitForm">{% csrf_token %}
          <input name="type" type="hidden" value="password"></td>
          <table border="0" cellspacing="10">
            <tr><td nowrap>Old Password:</td><td><td><input name="password_old" type="password" size="30"></td></tr>
            <tr><td nowrap>New-Password:</td><td><td><input name="password_new0" type="password" size="30"></td></tr>
            <tr><td nowrap>Repeat New-Password:</td><td><td><input name="password_new1" type="password" size="30"></td></tr>
          </table>
          <input type="submit" value="Change Password" />
	</form>
    </div>
    </div>
    <div id="footer">
      {{ Footer|safe }}
    </div>
  </body>
</html>
