<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
    <title>Account Created - RoboEarth</title>
  </head>
  <body>

    <div id="contentArea">

    <div id="logo">
      <a href="/">
        <img src="/img/RoboEarth.org_logo.png" alt="RoboEarth Logo" \>
      </a>
    </div>

    <div id="menu">
      {{ MainMenu|safe }}
    </div>
    
    <div id="content">

      <h1>Account Created</h1>

      <!--
      <p>Thank you for joining the RoboEarth platform.  You will get an e-mail
      once your account is activated and ready to use.</p>
      -->

      <p>Thank you for joining the RoboEarth platform.</p>

    </div>
    </div>
    <div id="footer">
      {{ Footer|safe }}
    </div>
  </body>
</html>
