<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
    <title>Search Results - RoboEarth</title>
    <style type="text/css">
		#hidden {display: none;}
		#visible {display: block;}
	</style>
    <script type="text/javascript">
    	function flip(id)
    	{
    		var id = id.slice(7);
    		var owl = "owl." + id;
    		
    		if (document.getElementById(owl).className == "hidden")
    		{
    			document.getElementById(owl).className = "visible";
    		}
    		else document.getElementById(owl).className = "hidden";
    	}
    </script>    
  </head>

  <body>

    <div id="contentArea">

    <div id="logo">
      <a href="/">
        <img src="/img/RoboEarth.org_logo.png" alt="RoboEarth Logo" \>
      </a>
    </div>

    <div id="menu">      
      {{ MainMenu|safe }}
    </div>
    
    <div id="content">

      {% if Semantic %}
      <h1>Search Results</h1>
      {% else %}
      <h1>Search Results for "{{ Query }}"</h1>
      {% endif %}

      {% if Environments %}

      {% for env in Environments %}

      <p>
        <table>
	<tr><td>ID: <b>{{ env.id }}</b></td>
          <td>
            {% if is_auth %}
            {% if env.subscribed %}
            <form action="/unsubscribe" method="post">{% csrf_token %}
              <input name="table" type="hidden" value="Environments">
              <input name="rowKey" type="hidden" value="{{ env.id }}">
              <input name="author" type="hidden" value="{{ env.author }}">
              <input type="submit" value="Unsubscribe">
	    </form>
            {% else %}
            <form action="/subscribe" method="post">{% csrf_token %}
              <input name="table" type="hidden" value="Environments">
              <input name="rowKey" type="hidden" value="{{ env.id }}">
              <input name="author" type="hidden" value="{{ env.author }}">
              <input type="submit" value="Subscribe">
	    </form>
            {% endif %}
            {% endif %}
        </td></tr></table>
	Author: {{ env.author }}<br /><br />
        {% if env.modified_by %}
        Last modification by: {{ env.modified_by }}<br />
        {% endif %}

        <table border="0" cellspacing="0">
          <tr><td>Rating:</td><td>
              {% for i in env.fullStars %}<img src="/img/rating1.png" />{% endfor %}
              {% for i in env.emptyStars %}<img src="/img/rating0.png" />{% endfor %}
        </td></tr></table>
        
        {% if env.files.items %}
        <table border="0" cellspacing="5">
          <th>Binaries:</th>
        {% for k,v in env.files.items %}
        <tr><td valign="top"><a href="{{ v.url }}">{{ k }}</a></td><td>
        {% if is_auth %}
	<form action="/deleteBinary" method="post">{% csrf_token %}
          <input name="table" type="hidden" value="Elements">
          <input name="rowKey" type="hidden" value="{{ env.id }}">
          <input name="colID" type="hidden" value="{{ k }}">
          <input name="file" type="hidden" value="{{ v.url }}">
          <input name="author" type="hidden" value="{{ env.author }}">
          <input type="submit" value="Delete  &raquo;{{ k }}&laquo;">
	</form>
       {% endif %}
        </td></tr>
        {% endfor %}
        </table>
        {% endif %}

        {% if is_auth %}
	<form action="/deleteEntity" method="post">{% csrf_token %}
          <input name="table" type="hidden" value="Elements">
          <input name="rowKey" type="hidden" value="{{ env.id }}">
          <input name="author" type="hidden" value="{{ env.author }}">
          <input type="submit" value="Delete &raquo;{{ env.id }}&laquo;">
	</form>
        {% endif %}
	<form action="/environments/update" method="post" class="commitForm">{% csrf_token %}
          <input name="id" type="hidden" value="{{ env.id }}">
          <table border="0" cellspacing="20">
            {% if env.location %}
            <tr><td>Latitude/Longitude: </td><td>{{env.location.latitude}} / {{env.location.longitude}}</td></tr>
            <tr><td>Map:</td><td>
                {{ env.location.html|safe }}
            </td></tr>
            {% endif %}
            <tr><td>Description:</td><td><textarea name="description" rows="3"
            cols="60">{{ env.description }}</textarea></td></tr>
            <tbody class="hidden" id="owl.{{ env.id }}">
            {% for e in env.environments %}
            <tr><td>Timestamp:</td><td>{{ e.timestamp }}</td></tr>
            <tr><td>Environment:</td><td><textarea name="environment" rows="30"
            cols="60" {% if forloop.counter != 1 %}readonly{% endif %}>{{ e.environment }}</textarea><br/>(OWL
            description)</td></tr>
            {% if forloop.counter == 1 %}
            <tr><td></td><td><input type="submit" value="Update" /></td></tr>
            {% endif %}
            {% endfor %}
            </tbody>
          </table>
	</form>
	  <input id="button.{{ env.id }}" type="button" value="Show/Hide OWL" onclick="flip(this.id);" />
      </p>
      

      {% endfor %}

      {% else %}
      <p class="center"><b>No search results!</b></p>
      {% endif %}
    </div>
    <div class="pagination">
	    <span class="step-links">
	        {% if Environments.has_previous %}
	        	{% if Semantic %}
	        		<a href="?page={{ Environments.previous_page_number }}&semanticQuery={{ Query }}">previous</a>
	            {% else %}
	            	<a href="?page={{ Environments.previous_page_number }}&query={{ Query }}">previous</a>
	            {% endif %}
	        {% endif %}
	
	        <span class="current">
	            Page {{ Environments.number }} of {{ Environments.paginator.num_pages }}.
	        </span>
	
	        {% if Environments.has_next %}
		        {% if Semantic %}
		            <a href="?page={{ Environments.next_page_number }}&semanticQuery={{ Query }}">next</a>
		        {% else %}
		        	<a href="?page={{ Environments.next_page_number }}&query={{ Query }}">next</a>
		        {% endif %}
	        {% endif %}
	    </span>
	</div>
    </div>
    <div id="footer">
      {{ Footer|safe }}
    </div>
  </body>
</html>
