<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    
    <title>Search Results - RoboEarth</title>
  </head>

  <body>

    <div id="contentArea">

    <div id="logo">
      <a href="/">
        <img src="/img/RoboEarth.org_logo.png" alt="RoboEarth Logo" \>
      </a>
    </div>

    <div id="menu">      
      {{ MainMenu|safe }}
    </div>
    
    <div id="content">

      {% if my_robots %}
      <h1>My Robots</h1>
      {% else %}
      <h1>Search Results for {{ query }}</h1>
      {% endif %}

      {% if Robots %}

      {% for robot in Robots %}
      <p>
        <img src="{{robot.picture}}" class="robotPicture">
        <table>
	<tr><td>ID: <b>{{ robot.id }}</b></td>
	  <td>
            {% if is_auth %}
        {% if my_robots %}
	<form action="/deleteEntity" method="post">{% csrf_token %}
          <input name="table" type="hidden" value="Robots">
          <input name="rowKey" type="hidden" value="{{ robot.id }}">
          <input name="author" type="hidden" value="{{ robot.author }}">
          <input type="submit" value="Delete &raquo;{{ robot.id }}&laquo;">
	</form>
        {% else %}

            {% if robot.subscribed %}
            <form action="/unsubscribe" method="post">{% csrf_token %}
              <input name="table" type="hidden" value="Robots">
              <input name="rowKey" type="hidden" value="{{ robot.id }}">
              <input name="author" type="hidden" value="{{ robot.author }}">
              <input type="submit" value="Unsubscribe">
	    </form>
            {% else %}
            <form action="/subscribe" method="post">{% csrf_token %}
              <input name="table" type="hidden" value="Robots">
              <input name="rowKey" type="hidden" value="{{ robot.id }}">
              <input name="author" type="hidden" value="{{ robot.author }}">
              <input type="submit" value="Subscribe">
	    </form>
            {% endif %}
          {% endif %}
          {% endif %}
        </td></tr></table>
        {% if not my_robots %}
	Author: <b>{{ robot.author }}</b><br /><br />
        {% endif %}
	Environment: <b><a href="{{Domain}}environments/result?query={{robot.environment}}&format=html">{{robot.environment}}</a></b><br /><br />
	<!--Latitude / Longitude: <b>{{robot.robLatitude}}</b> /  <b>{{robot.robLongitude}}</b><br />-->
        Description: <b>{{robot.description}}</b><br /><br/>
      </p>

      

      <br /><br /><br />
      
      {% endfor %}
      
      {% else %}
      {% if not my_robots %}
      <p class="center"><b>No search results!</b></p>
      {% endif %}
      {% endif %}
    </div>
    </div>
    <div id="footer">
      {{ Footer|safe }}
    </div>
  </body>
</html>
