<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
    <title>Submit Action Recipe Component - RoboEarth</title>
  </head>
  <body>

    <div id="contentArea">

    <div id="logo">
      <a href="/">
        <img src="/img/RoboEarth.org_logo.png" alt="RoboEarth Logo" \>
      </a>
    </div>

    <div id="menu">
      {{ MainMenu }}
    </div>
    
    <div id="content">

      <h1>Submit Action Recipe Component</h1>
      
      <p>
	<form action="/submitComponent" enctype="multipart/form-data" method="post">
          <p>Component:<br/><input name="identifier" type="text" size ="30"></p>
          <p>Object file:<br/><input name="file" type="file"/></p>
          <p>Description:<br/><textarea name="desc" rows="3" cols="60"></textarea></p>
          <input type="submit" value="Insert">
	</form>
      </p>
    </div>
    </div>
    <div id="footer">
      {{ Footer|safe }}
    </div>
  </body>
</html>
