<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
    <title>Submit Environment - RoboEarth</title>
    <script language="Javascript" type="text/javascript">
	<!--
	//Add more file upload fields dynamically.
	function addField(area,limit) {
		if(!document.getElementById) return; //Prevent older browsers from getting any further.
		var field_area = document.getElementById(area);
		var all_inputs = field_area.getElementsByTagName("input"); 
		var last_item = all_inputs.length - 1;
		var last = all_inputs[last_item].id;
		var count = Number(last.split("_")[1]) + 1;
		
		if(count > limit && limit > 0) return;
		field_area.innerHTML += "<li>File ID: <input name='file_"+(count)+"' id='file_"+(count)+"' size='10' type='text' /> File: <input name='file_"+(count)+"' id='file_"+(count)+"' type='file' /> <a style='cursor:pointer;color:blue;' onclick='this.parentNode.parentNode.removeChild(this.parentNode);'>Remove</a></li>";	
	}
	//-->
      function showHide(id)
      {
        var style = document.getElementById(id).style
        if (style.visibility == "hidden") {
          style.visibility = "visible";
          style.display = "inline";
        } else {
          style.visibility = "hidden";
          style.display = "none";
        }
      }
    </SCRIPT>
  </head>
  <body>

    <div id="contentArea">

    <div id="logo">
      <a href="/">
        <img src="/img/RoboEarth.org_logo.png" alt="RoboEarth Logo" \>
      </a>
    </div>

    <div id="menu">
      {{ MainMenu|safe }}
    </div>
    
    <div id="content">

      <h1>Submit Environment</h1>

      <p>
	<form action="/environments/submit" enctype="multipart/form-data" method="post" class="commitForm">{% csrf_token %}
          <table border="0" cellspacing="20">
            <tr><td>Class</td><td>.</td><td>Identifier</td>
            <tr><td><input name="class" type="text" size ="30"></td>
              <td>.</td>
              <td><input name="id" type="text" size ="30"></td></tr>
          </table>
          <table border="0" cellspacing="20">
            <tr><td>Description:</td><td><textarea name="description" rows="3" cols="60"></textarea></td></tr>
            <tr><td>Environment:</td><td><textarea name="environment" rows="3"
            cols="60"></textarea><br/>(OWL description)</td></tr>
            <tr><td>
          </table>
          <table border="0" cellspacing="20">          
            <tr><td><input type="checkbox" name="addGeodata" value="geodata"
            onclick='showHide("geoArea");'>add geographical coordinates
            (optional)</input></td></tr>
            </table>
          <table border="0" cellspacing="20" id="geoArea" style="visibility:hidden; display: none;">          
            <tr><td>Latitude:</td><td><input name="lat" type="text" size="10"></td>
            <td>Longitude:</td><td><input name="lng" type="text" size ="10"></td></tr>
          </table>
          <table border="0" cellspacing="20">
            <tr><td>
                <ol id="file_area" style="white-space: nowrap;">
                  <li>File ID: <input type="text" name="file_1" id="file_1" value="image" size="10"/> File: <input name="file_1" id="file_1" type="file"/></li>
                </ol></td></tr>
              <tr><td align="right"><input type="button" value="Add File Field" onclick="addField('file_area',10);" /></td></tr>
          </table>
          <input type="submit" value="Insert" />
	</form>
      </p>
    </div>
    </div>
    <div id="footer">
      {{ Footer|safe }}
    </div>
  </body>
</html>
