<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
    <title>Submit Action Recipe - RoboEarth</title>
  </head>
  <body>

    <div id="contentArea">

    <div id="logo">
      <a href="/">
        <img src="/img/RoboEarth.org_logo.png" alt="RoboEarth Logo" \>
      </a>
    </div>

    <div id="menu">
      {{ MainMenu|safe }}
    </div>
    
    <div id="content">

      <h1>Submit Action Recipe</h1>
      
      <p>
	<form action="/recipes/submit" method="post" class="commitForm">{% csrf_token %}
          <table border="0" cellspacing="20">
            <tr><td>Class</td><td>.</td><td>Identifier</td>
            <tr><td><input name="class" type="text" size ="30"></td>
              <td>.</td>
              <td><input name="id" type="text" size ="30"></td></tr>
          </table>
          <table border="0" cellspacing="20">
            <tr><td>Description:</td><td><textarea name="description" rows="3" cols="60"></textarea></td></tr>
            <tr><td>Recipe:</td><td><textarea name="recipe" rows="3" cols="60"></textarea><br/>(OWL description)</td></tr>
          </table>
          <input type="submit" value="Insert" />
	</form>
      </p>
    </div>
    </div>
    <div id="footer">
      {{ Footer|safe }}
    </div>
  </body>
</html>
