<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
    <title>Submit Robot - RoboEarth</title>
  </head>
  <body>

    <div id="contentArea">

    <div id="logo">
      <a href="/">
        <img src="/img/RoboEarth.org_logo.png" alt="RoboEarth Logo" \>
      </a>
    </div>

    <div id="menu">
      {{ MainMenu|safe }}
    </div>
    
    <div id="content">

      <h1>Submit Robot</h1>

      <p>
	<form action="/robots/submit" enctype="multipart/form-data" method="post" class="commitForm">{% csrf_token %}
          <table border="0" cellspacing="20">
            <tr><td nowrap>Robot ID:</td><td><input name="id" type="text" size="20"></td></tr>
            <tr><td nowrap>Description:</rd><td><textarea name="description" rows="5" cols="60"></textarea></td></tr>
            <tr><td nowrap>Sematic Robot Description (<a href="http://ias.in.tum.de/kb/wiki/index.php/SRDL_Basic_Tutorial">SRDL</a>):</rd><td><textarea name="srdl" rows="5" cols="60"></textarea></td></tr> 
			<tr><td nowrap>Picture:</td><td><input name="picture" id="picture" type="file"/></td></tr>
          </table>
          <input name="web" type="hidden" value="True">
          <input type="submit" value="Insert" />
	</form>
      </p>
    </div>
    </div>
    <div id="footer">
      {{ Footer|safe }}
    </div>
  </body>
</html>
